* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input,
button,
select {
  border-radius: 5px;
  border-width: 1pt;
  border-color: black;
  border-style: solid;
}

button {
  background-color: #ffffff;
}
button:hover {
  background-color: #dddddd;
}
